/* This file will hold the main styles for your website. */

/* Page Elements */
.zone-branding-wrapper {
	background-color: #4b116f;
}

.zone-menu-wrapper {
    background-color: #FFCA03;
}

#zone-menu {
	padding: 0;
}

#zone-menu nav {
	margin-top: -5px;
	padding: 0;
}

#zone-menu nav ul#main-menu li{
	margin: 0px;
	padding: 0px;
}

#zone-menu nav ul#main-menu li a {
	text-decoration: none;
	padding: 12px 12px 6px;
	margin: 0 2px;
}

#zone-menu nav ul.main-menu li a:hover,
#zone-menu nav ul.main-menu li.active a  {
	background: none repeat scroll 0 0 white;
}